.contents-2mQqc9 > img ~ .header-23xsNx > .username-1A8OIy::after {
  content: none;
  color: currentcolor;
  text-shadow: 0 0 2px currentcolor;
  border: 1px solid;
  border-radius: 6px;
  margin-left: 8px;
  background-color: rgba(255, 255, 255, 0.07);
  font-size: 10px;
  padding: 0 5px;
}
.contents-2mQqc9 > img[src*="538745942493495298"] ~ .header-23xsNx > .username-1A8OIy::after {
  content: "Eventt Manager";
}
.contents-2mQqc9 > img[src*="434954309365399552"] ~ .header-23xsNx > .username-1A8OIy::after {
  content: "Właściciel Flower";
}
.contents-2mQqc9 > img[src*="511970066330419210"] ~ .header-23xsNx > .username-1A8OIy::after {
  content: "Moderator Flower";
}
.contents-2mQqc9 > img[src*="588441165842350103"] ~ .header-23xsNx > .username-1A8OIy::after {
  content: "Moderator Flower";
}
.contents-2mQqc9 > img[src*="495170385533468682"] ~ .header-23xsNx > .username-1A8OIy::after {
  content: "Pomocnik Flower";
}
.contents-2mQqc9 > img[src*="692310096474275881"] ~ .header-23xsNx > .username-1A8OIy::after {
  content: "Administrator Flower";
}
