/*Snippety własne*/
    
        /*Cień tekstu w nawach kanałów, użytkowników itd. dla widoczności*/
        
    .channelName-2YrOjO, .subtitle-3V1p2E {
        text-shadow: 1px 1px 3px black;
    }
    .voiceUser-1K6Xox .username-3KYl0N {
        text-shadow: 1px 1px 3px black;
    }
    .members-1998pB .member-3-YXUe .roleColor-rz2vM0 {
        text-shadow: 1px 1px 3px black;
    }
    .members-1998pB [style*="color:"].membersGroup-v9BXpm {
        text-shadow: 1px 1px 3px black;
    }
    .overflow-WK9Ogt {
        text-shadow: 1px 1px 3px black;
    }
    .standardSidebarView-3F1I7i, .standardSidebarView-3F1I7i * {
        text-shadow: 1px 1px 3px black;
    }
    .message-2qnXI6 .markup-2BOw-j {
        color: var(--text-normal);
        text-shadow: 1px 1px 3px black;
    }
    
        /*Poprawka przezroczystości przycisków wyciszenia i ustawień*/
        
    .container-3baos1 > .flex-1O1GKY, .container-1giJp5 > .flex-1O1GKY {
        background: rgba(0, 0, 0, 0.44);
        border-radius: 15px;
    }
    
        /*Usunięcie ClearVision z paska u góry, oraz pod ustawieniami*/
        
    .typeWindows-1za-n7 > .wordmark-2iDDfm:before {
        content: " ";
        color: rgba(255, 255, 255, 0.7);
        font-size: 14px;
        text-shadow: 0 0 3px #000;
    }
    .typeWindows-1za-n7 > .wordmark-2iDDfm:after {
        content: " ";
        color: rgba(255, 255, 255, 0.3);
        font-family: var(--code-font);
        font-size: 10px;
    }
    .container-3baos1:before {
        content: "";
        right: 50%;
        text-align: middle;
        transform: translateX(50%);
    }
    
    /*Przyciemnienie menu prawego przycisku myszy*/
    
    .menu-3sdvDG {
        background-color: rgba(0, 0, 0, 0.9);
    }