/**
 * @name Megumin CV Theme
 * @author Ergon Sahar
 * @version 1.0
 * @description Do personalnego użytku.
 * @source https://github.com/ClearVision/ClearVision-v6
 * @website https://clearvision.gitlab.io
 * @invite dHaSxn3
 */

/* Credits to Zerthox for making the original theme. */

/* IMPORT CSS */
@import url(https://clearvision.gitlab.io/v6/main.css);
@import url("https://discordstyles.github.io/RadialStatus/base.css");

/* SETTINGS */
:root {

	/* ACCENT COLORS */
	--main-color: #e3582d; /* main accent color (hex, rgb or hsl) [default: #2780e6] */
	--hover-color: #632714; /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
	--success-color: #43b581; /* success accent color (hex, rgb or hsl) [default: #43b581] */
	--danger-color: #982929; /* danger accent color (hex, rgb or hsl) [default: #982929] */
	
	/* Customization Patch */
	--channel-unread: #ed6d42; /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
	--channel-color:  rgba(255,255,255,0.7); /*Read Server channel color  [default: rgba(255,255,255,0.3);]*/
	--channel-text-selected: #fff; /* Selected channel text color, CV default is #fff */
	--muted-color: rgba(255,255,255,0.3); /*Muted channel color  [default: rgba(255,255,255,0.1);]*/
	--url-color: #ff7e29; /*The color of url links [default: var(--main-color)]*/ 

    /* Ergon's Patch */	
    --background-secondary: rgba(0,0,0,0.3); /*Lower background color in the themes and plugins list*/
	--background-secondary-alt: rgba(0,0,0,0.3); /*Upper background color in the themes and plugins list*/

	/* STATUS COLORS */
	--online-color: #ff7e29; /* online status color (hex, rgb or hsl) [default: #43b581] */
	--idle-color: #faa61a; /* idle status color (hex, rgb or hsl) [default: #faa61a] */
	--dnd-color: #982929; /* dnd status color (hex, rgb or hsl) [default: #982929] */
	--streaming-color: #593695; /* streaming status color (hex, rgb or hsl) [default: #593695] */
	--offline-color: #808080; /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

	/* GENERAL */
	--main-font: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif; /* main font for app (font must be installed) [default: Whitney, Helvetica Neue, Helvetica, Arial, sans-serif] */
	--code-font: Consolas, Liberation Mono, Menlo, Courier, monospace; /* font for codeblocks (font must be installed) [default: Consolas, Liberation Mono, Menlo, Courier, monospace] */
	--text-normal: rgb(220, 221, 222); /* color of default discord text */
	--text-muted:  rgb(114, 118, 125); /* color of default discord muted text (e.g.text found in input fields before typing).*/
	--channels-width: 215px; /* channel list width (240px for Discord default) [default: 220px] */
	--members-width: 245px; /* member list width [default: 240px] */

	/* APP BACKGROUND */
	--background-shading: 60%; /* app background shading (0 for complete smoothness) [default: 100%] */
	--background-overlay: rgba(41, 28, 7, 0.3); /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
	--background-image: url(https://i.ibb.co/X2nvmvq/782992.png); /* app background image (link must be HTTPS) [default: url(https://clearvision.gitlab.io/images/sapphire.jpg)]*/
	--background-position: center; /* app background position [default: center] */
	--background-size: cover; /* app background size [default: cover] */
	--background-repeat: no-repeat; /* app background repeat [default: no-repeat] */
	--background-attachment: fixed; /* app background attachment [default: fixed] */
	--background-brightness: 70%; /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
	--background-contrast: 100%; /* app background contrast [default: 100%] */
	--background-saturation: 100%; /* app background saturation [default: 100%] */
	--background-invert: 0%; /* app background invert (0 - 100%)  [default: 0%] */
	--background-grayscale: 20%; /* app background grayscale ( 0 - 100%) [default: 0%] */
	--background-sepia: 0%; /* app background sepia (0 - 100%) [default: 0%] */
	--background-blur: 0px; /* app background blur [default: 0px] */
	
	/* HOME BUTTON ICON */
	--home-icon: url(https://b.catgirlsare.sexy/XSHascb-.jpg); /* home button icon (link must be HTTPS) [default: url(https://clearvision.gitlab.io/icons/discord.svg)]*/
	--home-position: center; /* home button icon position [default: center] */
	--home-size: 60px; /* home button icon size [default: 40px] */
	
	/* MODAL BACKDROP */
	--backdrop-overlay: rgba(0, 0, 0, 0.9); /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
	--backdrop-image: var(--background-image); /* modal backdrop image (link must be HTTPS) [default: var(---background-image)] */
	--backdrop-position: var(--background-position); /* modal backdrop position [default: var(---background-position)] */
	--backdrop-size: var(--background-size); /* modal backdrop size [default: var(---background-size)] */
	--backdrop-repeat: var(--background-repeat); /* modal backdrop repeat [default: var(---background-repeat)] */
	--backdrop-attachment: var(--background-attachment); /* modal backdrop attachment [default: var(--background-attachment)] */
	--backdrop-brightness: var(--background-brightness); /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--backdrop-contrast: var(--background-contrast); /* modal backdrop contrast [default: var(---background-contrast)] */
	--backdrop-saturation: var(--background-saturation); /* modal backdrop saturation [default: var(---background-saturation)] */
	--backdrop-invert: var(--background-invert); /* modal backdrop invert (0 - 100%)  [default: var(---background-invert)] */
	--backdrop-grayscale: var(--background-grayscale); /* modal backdrop grayscale ( 0 - 100%) [default: var(---background-grayscale)] */
	--backdrop-sepia: var(--background-sepia); /* modal backdrop sepia (0 - 100%) [default: var(---background-sepia)] */
	--backdrop-blur: var(--background-blur); /* modal backdrop blur [default: var(--background-blur)] */
	
	/* USER POPOUT BACKGROUND */
	--user-popout-image: url(https://b.catgirlsare.sexy/tStaUEwI.png); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-popout-position: right; /* user popout background position [default: var(---background-position)] */
	--user-popout-size: var(--background-size); /* user popout background size [default: var(---background-size)] */
	--user-popout-repeat: var(--background-repeat); /* user popout background repeat [default: var(---background-repeat)] */
	--user-popout-attachment: scroll; /* user popout background attachment [default: var(--background-attachment)] */
	--user-popout-brightness: 30%; /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-popout-contrast: var(--background-contrast); /* user popout background contrast [default: var(---background-contrast)] */
	--user-popout-saturation: var(--background-saturation); /* user popout background saturation [default: var(---background-saturation)] */
	--user-popout-invert: var(--background-invert); /* user popout background invert (0 - 100%) [default: var(---background-invert)] */
	--user-popout-grayscale: var(--background-grayscale); /* user popout background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-popout-sepia: var(--background-sepia); /* user popout background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-popout-blur: 2px; /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* USER MODAL BACKGROUND */
	--user-modal-image: url(https://b.catgirlsare.sexy/uDLn5oPS.jpg); /* app background image (link must be HTTPS) [default: var(---background-image)] */
	--user-modal-position: var(--background-position); /* user modal background position [default: var(---background-position)] */
	--user-modal-size: var(--background-size); /* user modal background size [default: var(---background-size)] */
	--user-modal-repeat: var(--background-repeat); /* user modal background repeat [default: var(---background-repeat)] */
	--user-modal-attachment: scroll; /* user modal background attachment [default: var(--background-attachment)] */
	--user-modal-brightness: 25%; /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(---background-brightness)] */
	--user-modal-contrast: 110%; /* user modal background contrast [default: var(---background-contrast)] */
	--user-modal-saturation: 110%; /* user modal background saturation [default: var(---background-saturation)] */
	--user-modal-invert: var(--background-invert); /* user modal background invert (0 - 100%) [default: var(---background-invert)] */
	--user-modal-grayscale: var(--background-grayscale); /* user modal background grayscale (0 - 100%) [default: var(---background-grayscale)] */
	--user-modal-sepia: var(--background-sepia); /* user modal background sepia (0 - 100%) [default: var(---background-sepia)] */
	--user-modal-blur: calc(var(--background-blur) + 2px); /* user modal background blur [default: calc(var(--background-blur) + 3px)] */
	
	/* THEME BD COLORS */
	--bd-blue: var(--main-color); /* betterdiscord main color [default: var(--main-color)] */
	--bd-blue-hover: var(--hover-color); /* betterdiscord hover color [default: var(--hover-color)] */
	--bd-blue-active: var(--hover-color); /* betterdiscord active color [default: var(--hover-color)] */
	
	/*Radial Status by DiscordStyles*/
	--rs-small-spacing: 2px;  /* spacing between avatar and status */
    --rs-large-spacing: 3px;  /* spacing between avatar and status for user popouts & modals/profiles | MUST end in px */
    --rs-width: 2px;  /* Width/thickness of status border */
    --rs-avatar-shape: 50%;  /* 50% for round - 0% for square */
    --rs-online-color: #ff7e29;  /* color for online status */
    --rs-idle-color: #faa61a;  /* color for idle status */
    --rs-dnd-color: #f04747;  /* color for dnd status */
    --rs-offline-color: #636b75;  /* color for offline status */
    --rs-streaming-color: #643da7;  /* color for streaming status */
    --rs-invisible-color: #747f8d;  /* color for invisible status - Note this will only show for your own invisibility */
}



/*Snippety własne*/

	/*Ukrycie gradientu u góry Okna Użytkownika*/
	
.userPopout-3XzG_A .profileBanner-33-uE1 {
    -webkit-mask: linear-gradient(to bottom, #0000, transparent 100%);
}

	/*Cień tekstu w nazwach kanałów, użytkowników itd. dla widoczności*/
	
.channelName-2YrOjO, .subtitle-3V1p2E {
    text-shadow: 1px 1px 3px black;
}
.voiceUser-1K6Xox .username-3KYl0N {
    text-shadow: 1px 1px 3px black;
}
.members-1998pB .member-3-YXUe .roleColor-rz2vM0 {
    text-shadow: 1px 1px 3px black;
}
.members-1998pB [style*="color:"].membersGroup-v9BXpm {
    text-shadow: 1px 1px 3px black;
}
.overflow-WK9Ogt {
    text-shadow: 1px 1px 3px black;
}
.standardSidebarView-3F1I7i, .standardSidebarView-3F1I7i * {
    text-shadow: 1px 1px 3px black;
}
.message-2qnXI6 .markup-2BOw-j {
    color: var(--text-normal);
	text-shadow: 1px 1px 3px black;
}

	/*Poprawka koloru okna update BetterDiscord*/

.theme-dark .modal-2VIBV8, .theme-dark .root-1gCeng {
    background: rgb(33, 11, 3);
    box-shadow: 5px 5px 9px black;
}

	/*Poprawka koloru kategorii*/
	
.name-3l27Hl {
    opacity: 1;
	box-shadow: 5px 5px 9px black;
}
	
	/*Poprawka koloru przcisków w Oknie Użytkownika*/

.appMount-3lHmkl .lookOutlined-3sRXeN.colorWhite-rEQuAQ, .appMount-3lHmkl .lookOutlined-3sRXeN.colorPrimary-3b3xI6, .appMount-3lHmkl .lookOutlined-3sRXeN.colorGreen-29iAKY, .appMount-3lHmkl .lookOutlined-3sRXeN.colorRed-1TFJan, .appMount-3lHmkl .lookOutlined-3sRXeN.colorBrand-3pXr91 {
    background: var(--background-overlay);
}

	/*Poprawka koloru przycisków w motywach i pluginach*/
	
.bd-switch input:checked+.bd-switch-body {
    --switch-color: rgb(237, 109, 66);
}

	/*Poprawka przezroczystości przycisków wyciszenia i ustawień*/
	
.container-3baos1 > .flex-1O1GKY, .container-1giJp5 > .flex-1O1GKY {
    background: rgba(0, 0, 0, 0.44);
    border-radius: 15px;
}

	/*Usunięcie ClearVision z paska u góry, oraz pod ustawieniami*/
	
.typeWindows-1za-n7 > .wordmark-2iDDfm:before {
    content: " ";
    color: rgba(255, 255, 255, 0.7);
    font-size: 14px;
    text-shadow: 0 0 3px #000;
}
.typeWindows-1za-n7 > .wordmark-2iDDfm:after {
    content: " ";
    color: rgba(255, 255, 255, 0.3);
    font-family: var(--code-font);
    font-size: 10px;
}
.container-3baos1:before {
    content: "";
    right: 50%;
    text-align: middle;
    transform: translateX(50%);
}

/*Poprawka Koloru pola wpisywania tekstu*/

.channelTextArea-2VhZ6z .scrollableContainer-2NUZem {
    background: rgba(8, 3, 0, 0.6);
    border: 2px solid transparent;
}

/*Wyśrodkowanie tekstu,zdjęcia profilowego i odznak w oknie użytkownika*/

.userPopout-3XzG_A .headerNormal-1l1Znk {
    text-align: center;
}
.avatarPositionNormal-1CZUPk {
    margin-left: 30%;
}
.profileBadges-1dm1_q {
    top: -7px;
    position: relative;
}
.flex-1O1GKY {
    justify-content: center;
}
.bodyTitle-Y0qMQz {
    text-align: center;
}

/*Przyciemnienie menu prawego przycisku myszy*/

.menu-3sdvDG {
    background-color: rgba(0, 0, 0, 0.9);
}

/*Dodanie ramki do okna użytkownika oraz onka profilu użytkownika*/

.userPopout-3XzG_A {
    border-radius: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--hover-color);
}
.root-SR8cQa {
    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--hover-color);
}
